.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-top: 20px; 
}

.Categories {
    padding: 20px;
    max-width: 300px;
    border: none; 
    margin: 10px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
    border-radius: 10px; 
    overflow: hidden; 
}

.Categories:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
}

.category-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0; 
}

.category-button {
    padding: 10px 15px;
    background-color: #3498db; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s; 
    width: 100%; 
    font-size: 1rem; 
}

.category-button:hover {
    background-color: #2980b9; 
}

.computer-science {
    background-color: rgba(0, 255, 68, 0.123);
}

.cyber-security {
    background-color: rgba(0, 140, 255, 0.337);
}

.computer-architecture {
    background-color: rgba(128, 0, 128, 0.2);
}

.artificial-intelligence {
    background-color: rgba(255, 0, 0, 0.2);
}

.super-computing {
    background-color: rgba(0, 255, 255, 0.2);
}

.quantum-computing {
    background-color: rgba(255, 255, 0, 0.2);
}

.career {
    background-color: rgba(255, 165, 0, 0.2);
}

.software-engineering {
    background-color: rgba(60, 179, 113, 0.2);
}

.data-science {
    background-color: rgba(173, 216, 230, 0.2);
}

.blockchain-technology {
    background-color: rgba(75, 0, 130, 0.2);
}

@media (max-width: 768px) {
    .Categories {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .Categories {
        flex: 1 1 100%; 
    }

    .card-container {
        padding: 5px; 
    }

    .category-button {
        width: 100%;
    }
}
